@page
@model RoutePal.ListModel

<aside>
    <vc:user-nav />
</aside>

<article>
<h1>My routes</h1>
@if (Model.Routes.Any() || !string.IsNullOrEmpty(Model.Find)) {
<form method="get">
<input type="hidden" name="pageNumber" value="1" />
<input type="hidden" name="sort" value="@Model.Sort" />
<input type="text" name="find" value="@Model.Find" autofocus /> <input type="submit" value="Find...">
<span>Sort by:
@if (Model.Sort == "distance") {
<a href="/routepal/list?pageNumber=@Model.Pagination.PageNumber&find=@Model.Find&sort=lastrun">last run</a>
} else {
<a href="/routepal/list?pageNumber=@Model.Pagination.PageNumber&find=@Model.Find&sort=distance">distance</a>
}
</span>
</form>
@if (!Model.Routes.Any()) {
<p>No routes found matching the filter entered.</p>
}
@if (Model.Pagination.PageCount > 1) {
<p>
<div class="pagination">
    @if (Model.Pagination.PageNumber > 1) {
    <a title="Go to previous page of routes" href="/routepal/list?pageNumber=@(Model.Pagination.PageNumber - 1)&find=@Model.Find&sort=@Model.Sort">&laquo;</a>
    }
    @foreach (var pg in Model.Pagination.Pages) {
    @if (pg.IsSelected) {
    <a class="pagination-active">@pg.PageNumber</a>
    } else {
    <a title="Go to page @pg.PageNumber" href="/routepal/list?pageNumber=@pg.PageNumber&find=@Model.Find&sort=@Model.Sort">@pg.PageNumber</a>
    }
    @if (pg.IsNextPageSkipped) {
    <a class="skip">&bull;&bull;</a>
    }
    }
    @if (Model.Pagination.PageNumber < Model.Pagination.PageCount) {
    <a title="Go to the next page of routes" href="/routepal/list?pageNumber=@(Model.Pagination.PageNumber + 1)&find=@Model.Find&sort=@Model.Sort">&raquo;</a>
    }
</div>
</p>
}
<ul class="rp-list">
    <li class="rp-list">
        <ul class="rp-list-item">
            @foreach (var route in Model.Routes) {
            <li class="rp-list-item">
            <div></div>
            <div class="rp-list-item-entry">
                <div>
                    <a title="View the mapped route" href="/routepal/map?routeid=@route.Id">@route.Name</a>
                </div>
                <div>
                    <span>@(await Model.RouteDistanceAsync(route))</span>
                    @if (!string.IsNullOrEmpty(route.ShareLink)) {
                    <span class="rp-share rp-share-shared" title="This route has been shared">&mapstoup;</span>
                    }
                </div>
                @{ Models.RunLog? lastRun = null; }
                @if ((lastRun = Model.LastRun(route)) != null) {
                <div>Last run on <a title="View this run activity" href="/runlog/activity?activityid=@lastRun.Id">@lastRun.Date.ToString("D")</a></div>
                } else {
                <div></div>
                }
            </div>
            <div>
                <div><a href="/runlog/list?routeid=@route.Id" title="View all runs for this route">View all runs</a></div>
                <div><a href="/runlog/activity?routeid=@route.Id" title="Log a new run for this route">Log a run</a></div>
            </div>
            </li>
            }
        </ul>
    </li>
</ul>
} else {
<p>You have no saved routes. Start by <a href="/routepal/map">plotting a new route here.</a></p>
}
</article>
