@model RunnersPal.Core.ViewModels.ProfileModel
@{
    ViewBag.Title = "My:Profile";
    ViewBag.SelectedTab = "MyStats";
}
<script type="text/javascript">
    $(function () {
        var model = new CalorieCalcModel('', '@Url.Action("calcweight", "calculators")');
        model.weightUnits('@Model.Weight.Units');
        model.weightKg('@Model.Weight.Kg');
        model.weightLbs('@Model.Weight.Lbs');
        model.weightSt('@Model.Weight.St');
        model.weightStLbs('@Model.Weight.StLbs');
        model.priorWeightUnits('@Model.Weight.Units');
        model.distanceUnits(@Model.DistUnits);

        ko.applyBindings(model);
        unitsModel.change(function (u) {
            model.distanceUnits(u);
        });
    });
</script>

<h1>My:Profile</h1>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
<p class="important">@Model.Message</p>
}

<form method="post" action="@Url.Action("updateprofile")">
<div class="grid">
	<div class="grid-row">
		<div class="grid-cell grid-cell-20">Name:</div>
		<div class="grid-cell-last grid-cell-80"><input type="text" name="name" value="@Model.Name" /></div>
		<div class="grid-cell-end"></div>
	</div>
    <div class="grid-row grid-row-separator"></div>
	<div class="grid-row">
		<div class="grid-cell grid-cell-20">Weight Units:</div>
		<div class="grid-cell-last grid-cell-80">
            <input type="radio" name="weightUnits" id="weightUnits1" data-bind="checked: weightUnits" value="kg" /><label for="weightUnits1"> kilograms</label><br />
            <input type="radio" name="weightUnits" id="weightUnits2" data-bind="checked: weightUnits" value="lbs" /><label for="weightUnits2"> pounds</label><br />
            <input type="radio" name="weightUnits" id="weightUnits3" data-bind="checked: weightUnits" value="st" /><label for="weightUnits3"> stones and pounds</label>
         </div>
		<div class="grid-cell-end"></div>
	</div>
    <div class="grid-row grid-row-separator"></div>
	<div class="grid-row">
		<div class="grid-cell grid-cell-20">Weight:</div>
		<div class="grid-cell-last grid-cell-80">
            <span data-bind="visible: weightUnits() == 'kg'"><input type="number" min="0.0" step="any" data-bind="value: weightKg, valueUpdate: 'afterkeydown'" name="weightKg" /> kg</span>
            <span data-bind="visible: weightUnits() == 'lbs'"><input type="number" min="0.0" step="any" data-bind="value: weightLbs, valueUpdate: 'afterkeydown'" name="weightLbs" /> lbs</span>
            <span data-bind="visible: weightUnits() == 'st'"><input type="number" min="0.0" step="any" data-bind="value: weightSt, valueUpdate: 'afterkeydown'" name="weightSt" class="short" /> st <input type="number" min="0.0" step="any" data-bind="value: weightStLbs, valueUpdate: 'afterkeydown'" name="weightStLbs" class="short" /> lbs</span>
        </div>
		<div class="grid-cell-end"></div>
	</div>
    <div class="grid-row grid-row-separator"></div>
	<div class="grid-row">
		<div class="grid-cell grid-cell-20">Preferred Distance Units:</div>
		<div class="grid-cell-last grid-cell-80">
            <input type="radio" name="distUnits" id="distUnits1" data-bind="checked: distanceUnits" value="0" /><label for="distUnits1"> miles</label><br />
            <input type="radio" name="distUnits" id="distUnits2" data-bind="checked: distanceUnits" value="1" /><label for="distUnits2"> kilometers</label><br />
         </div>
		<div class="grid-cell-end"></div>
	</div>
    <div class="grid-row grid-row-separator"></div>
	<div class="grid-row">
		<div class="grid-cell grid-cell-20"></div>
		<div class="grid-cell-last grid-cell-80"><input type="submit" value="Save" class="submit" /></div>
		<div class="grid-cell-end"></div>
	</div>
</div>
</form>